* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-color: #322153;
    --primary-color: #34cd79;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}


/*
BOX MODEL
MODELO DE CAIXA
TODA CAIXA TEM: LARGURA, ALTURA, ESPAÇAMENTOS, PREENCHIMENTOS
BORDAS, COR, FUNDO, MANEIRA COMO É VISTO PELO HTML(DISPLAY)
POSICIONAMENTO, ALINHAMENTOS
*/